@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

*
{
    border-width: 0;
    border-style: solid;
    box-sizing: border-box;
    word-break: break-word;
    /* word-wrap: break-word; */
}
html
{
    padding: 0;
    margin: 0;
    color: white;
    background: #202023;
}
body
{
    position: absolute;
    left: 48.2%;
    transform: translate(-50%, 0); 
    font-feature-settings: "kern";
}

img
{
    position: relative;
    left: 4rem;
    top: 0.8rem;
}

/* .imglog
{
    border-radius: 100%;
    position: absolute; 
    top: 5.4rem; 
    left: 25rem;
} */

.TITLE
{
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    bottom: 3px; 
}
.TITLE:hover
{
    cursor: help;
}
.TITLE2
{
    text-decoration: none;
    font-size: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #FFFFFFeb;
    padding-top: 16px ;
    padding-left: 70px;
    height: 2.5rem;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    margin-left: 55px;
    
}
.TITLE2:hover
{
   text-decoration: underline;
    text-decoration-color: #ffffff;
    text-underline-offset: 3px;
    line-height: 1.2;
}
.TITLES
{
    display: flex;
}
.TITTLEP
{
    color: #ffffff;
    text-decoration: none;
}


.HI
{
    color: #FFFFFFeb;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
    padding: 0.75;
    text-align: center;
}



.P
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.875rem;
}
.P2
{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}




.M
{
    color: #FFFFFFeb;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-color: #525252;
    text-decoration-thickness: 4px;
}
.MT
{
    color: #FFFFFFeb;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.MTL
{
    text-decoration: none;
    color: #ff63c3;
}
.MTL:hover
{
    text-decoration: underline;
    text-decoration-color: #ff63c3;
    text-underline-offset: 2px;
}


.BTT
{
    text-decoration: none;
    position: relative;
    left: calc(30%);
}
.BTS
{
    font-size: 17px;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    height: 2.5rem;
    width: 7rem;
    color: #81E6D9;
    border: #81e6d970;
    background-color: #81e6d91e;
    border-radius: 0.375rem;
    cursor: pointer;
    text-align: center;
    /* padding-left: 8rem; */
}
.BTS:hover
{
    text-decoration: underline;
    text-decoration-color: #ff63c3;
    text-underline-offset: 2px;
}



.TT
{
    color: #FFFFFFeb;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-color: #525252;
    text-decoration-thickness: 4px;
}
.TL
{
    color: #FFFFFFeb;
    font-size: 16px;
    font-weight: bold;
    margin-right: 1em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.TL1
{
    font-size: 16px;
    color: #FFFFFFeb;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-indent: -55;
    padding-left: 55;
}




.W
{
    color: #FFFFFFeb;
    font-size: 24px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-color: #525252;
    text-decoration-thickness: 4px;
}
.WA
{
    text-decoration: none;
}
.WL
{
    color: #81E6D9;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
    line-height: 2.2;
    display: list-item;
}
.WB
{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    display: inline-flex;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    height: 2.5rem;
}
.WB:hover
{
    border: #81e6d970;
    background-color: #81e6d91e;
    text-decoration: underline;
    text-decoration-color:rgb(255, 99, 195) ;
    text-underline-offset: 3px;
    border-radius: 0.375rem;
    line-height: 1.2;
    width: auto;
    min-width: 2.5rem;
}
.WLI
{
    display: list-item;
    text-align: -webkit-match-parent;
    list-style: none;
    margin-inline-end: 0.5rem;
}
.ULM
{
    display: block;
    padding-left: 0;
    margin-block-end: 1em;
    margin-block-start: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.DIRETS
{
    color: rgba(255, 255, 255, 0.16);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding-top: px;
}
