*
{
    border-width: 0;
    border-style: solid;
    box-sizing: border-box;
    word-break: break-all;
}
html
{
    padding: 0;
    margin: 0;
    color: white;
    background: #202023;
}
body
{
    position: absolute;
    left: 48.2%;
    transform: translate(-50%, 0); 
    font-feature-settings: "kern";
}

img
{
    position: relative;
    left: 4rem;
    top: 0.8rem;
}

/* .imglog
{
    border-radius: 100%;
    position: absolute; 
    top: 5.4rem; 
    left: 25rem;
} */

.TITLE
{
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    bottom: 3px; 
}
.TITLE:hover
{
    cursor: help;
}
.TITLE2
{
    text-decoration: none;
    font-size: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #FFFFFFeb;
    padding-top: 16px ;
    padding-left: 70px;
    height: 2.5rem;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    margin-left: 55px;
    
}
.TITLE2:hover
{
   text-decoration: underline;
    text-decoration-color:rgb(255, 255, 255) ;
    text-underline-offset: 3px;
    line-height: 1.2;
}
.TITLES
{
    display: flex;
}

.TITTLEP
{
    color: #FFFFFF;
    text-decoration: none;
    cursor: help;
}

.IMGS
{
    text-align: center;
    padding-right: 100px;
}

.PST
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}