*
{
    padding: 0;
    margin: 0;
    background: #202023;
}

/* reset do html */



/* barra de links */
.titles
{
    display: flex;
    justify-content: space-between;
}
.title
{
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
    text-decoration: none;
}
.title:hover
{
    cursor: help;
}
.titleOptions
{
    text-decoration: none;
    font-size: 12px;
    height: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #FFFFFFeb;
}
.titleOptions:hover
{
   text-decoration: underline;
    text-decoration-color: #ffffff;
    text-underline-offset: 3px;
    line-height: 1.2;
}
/* barra de links */



/* titulo */
.fristTittle
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    cursor:default;
    text-decoration: underline;
    text-decoration-color: #ffffff;
    text-underline-offset: 3px;
    line-height: 1.2;
}
/* .fristTittle:hover
{
    text-decoration: underline;
    text-decoration-color: #ffffff;
    text-underline-offset: 3px;
    line-height: 1.2;
} */
/* titulo */



/* thumbnails */
.boxConfig
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.box
{
    color: white;
    height: 35vh;
    width: 45vh;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0);
    margin: 3px;
}
.image
{
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 45vh;
}
/* thumbnails */


/* direitos autorais */
.direitos
{
    color: rgba(255, 255, 255, 0.357);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding-top: px;
}
